    <%- include('./partials/header.ejs') %>
 

    <div class="container">
        <div class="row">
            <div class="col-sm-6 mt-5">
                <h2 class="alert alert-success text-center" role="alert">Add New Employee</h2>

                <form method="post">

                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" name="name" id="name" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="age" class="form-label">Age</label>
                        <input type="number" name="age" id="age" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="salary" class="form-label">Salary</label>
                        <input type="number" name="salary" id="salary" class="form-control" placeholder="Minimum 10K">
                    </div>

                    <div> 
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>

            <div class="col-sm-6 mt-5">
                <h2 class="alert alert-danger text-center" role="alert">List of Employee</h2>

                <%# Show all data %>
                <table class="table table-striped tabel-hover">

                    <thead>
                        <tr>
                            <th scope="col">SN</th>
                            <th scope="col">Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Salary</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% let i=1 %>

                        <% data.forEach((item) => {%>
                            <tr>
                        <td><%= i++ %></td>
                        <td><%= item.name %></td>
                        <td><%=item.age %></td>
                        <td><%=item.salary %></td>
                        <td >
                            <form action="/employee/edit/<%=item._id %>" method="get" class="d-inline">
                                <button type="submit" class="btn "> 
                                     <i class="fas fa-pen-square text-info px-2"></i>
                                </button>

                            </form>
                          
                            <form action="/employee/delete/<%=item._id %>" method="post" class="d-inline">
                                <button type="submit" class="btn "> 
                                     <i class="fas fa-trash text-danger"></i>
                                </button>

                            </form>
                          
                            
                        </td>

                        </tr>
                            
                        <%});  %>

                       
                    </tbody>



                </table>


            </div>

        </div>
    </div>

    <%- include('./partials/footer.ejs') %>



